<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul>
      <% params[:number].to_i.times do %>
      <li><%= params[:phrase] %></li>
      <% end %>
    </ul>

  </body>
</html>
