<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Say Phrase 'N' Times </title>
  </head>
  <body>
    <% @number.times do %>
      <p> <%= @phrase %> </p>
    <% end %>
  </body>
</html>
