<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Say 5 Words </title>
  </head>
  <body>
    <p> <%= "#{@word1} #{@word2} #{@word3} #{@word4} #{@word5}."%> </p>
  </body>
</html>
