<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%="#{params[:w1]} #{params[:w2]} #{params[:w3]} #{params[:w4]} #{params[:w5]}"%>.</h1>
</body>
</html>