<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <h1>
    <%= params[:word1] + " " + params[:word2] + " " + params[:word3] + " " + params[:word4] + " " + params[:word5] +"." %>

  </h1>
  </body>
</html>
